@model Data.ViewModels.FullUserView;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/ProfilePage.css" rel="stylesheet" />

<body>
    <h1>Your profile</h1>
    <div class="profile-info">
        <h2 class="user-title">User info</h2>
        <div class="property">
            Username: @Model.Username <a class="property-link" href="/User/EditUser">Change Username</a>
        </div><br>
        <div class="property">
            First name: @Model.FirstName <a class="property-link" href="/User/EditUser">Change first name</a>
        </div><br>
        <div class="property">
            Middle name: @Model.MiddleName <a class="property-link" href="/User/EditUser">Change middle name</a>
        </div><br>
        <div class="property">
            Last name: @Model.LastName <a class="property-link" href="/User/EditUser">Change last name</a>
        </div><br>
        <div class="property">
            Password: ******* <a class="property-link" href="/User/ChangePassword">Change password</a>
        </div><br>
        <div class="property">
            Books count: @Model.BooksCount <a class="property-link" href="/Book/Books">All books</a>
        </div><br>
    </div>
    <div class="contact-info">
        <h2 class="contact-title">Contacts</h2>
        <div class="property">
            Email: @Model.Email <a class="property-link" href="/User/AddContacts">Change email</a>
        </div><br>
        <div class="property">
            Phone: @Model.Phone <a class="property-link" href="/User/AddContacts">Change phone</a>
        </div><br>
    </div>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th colspan="5">Your books</th>
                    </tr>
                    <tr>
                        <th>№</th>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Author</th>
                        <th>Links</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Title</td>
                            <td>@item.Genre</td>
                            <td>@item.AuthorName</td>
                            <td><a type="button" asp-controller="User" asp-action="RemoveBook" asp-route-id="@item.Id">Remove</a></td>
                            @{ i++; }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="profile-delete">
        <div class="property">
            <a class="property-link" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id">Delete account</a>
        </div>
    </div>
</body>