@inject SignInManager<Data.Entities.User> signInManager
@model List<Data.ViewModels.BookView>
@{
    ViewData["Title"] = "Book";
}

<link href="~/css/BooksPage.css" rel="stylesheet" />

<body>
    <h1>Books</h1>
    <section id="order-by">
        <h2>Order by</h2>
        <a asp-controller="Book" asp-action="Books" asp-route-strategy="title">Title</a>
        <a asp-controller="Book" asp-action="Books" asp-route-strategy="genre">Genre</a>
        <a asp-controller="Book" asp-action="Books" asp-route-strategy="author">Author</a>
        <a asp-controller="Book" asp-action="Books" asp-route-strategy="saved">Saved times</a>
    </section>
    <div>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Saved times</th>
                    @if (this.signInManager.IsSignedIn(this.User))
                    {
                        <th colspan="3">Links</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model)
                {
                <tr>
                    <td>@i</td>
                    <td>@item.Title</td>
                    <td>@item.Genre</td>
                    <td>@item.AuthorName</td>
                    <td>@item.SavedTimes</td>
                    @if (this.signInManager.IsSignedIn(this.User))
                    {
                        <td><a type="button" asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                        <td><a type="button" asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                        <td><a type="button" asp-controller="Book" asp-action="AddBook" asp-route-id="@item.Id">Add</a></td>
                    }
                    @{ i++; }
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <div id="link-to-add-book">
            <a class="add-page" href="/Book/Create">Add a new book</a>
        </div>
    </div>
</body>