@model List<Data.ViewModels.BookView>
@{
    ViewData["Title"] = "Book";
}

<link href="~/css/BooksPage.css" rel="stylesheet" />

<body>
    <h1>Books</h1>
    <section id="order-by">
        <h2>Order by</h2>
        <a asp-controller="Book" asp-action="Books" asp-route-strategy="title">Title</a>
        <a asp-controller="Book" asp-action="Books" asp-route-strategy="genre">Genre</a>
        <a asp-controller="Book" asp-action="Books" asp-route-strategy="author">Author</a>
        <a asp-controller="Book" asp-action="Books" asp-route-strategy="saved">Saved times</a>
    </section>
    <div>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Saved times</th>
                    <th colspan="2">Links</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Title</td>
                        <td>@item.Genre</td>
                        <td>@item.AuthorName</td>
                        <td>@item.SavedTimes</td>
                        <td><a type="button" asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                        <td><a type="button" asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                        @{ i++; }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <form>
            <h3>Type the title or the number of the book you want to add.</h3>
            <label for="input" id="title-input">Title<span id="bolder"> / </span>number</label>
            <input type="text" id="input">
            <button type="submit">Add book</button>
        </form>
        <form asp-action="Details" asp-controller="Book" method="post">
            <h3>More info about a book.</h3>
            <label for="input" id="title-input-info">Title</label>
            <input type="text" id="input" name="title">
            <button type="submit">Details</button>
        </form>
        <div id="link-to-add-book">
            <a class="add-page" href="/Book/Create">Add a new book</a>
        </div>
    </div>
</body>