@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Data.ViewModels.FullBookView

<title>Book details</title>
<link href="~/css/BookDetailsPage.css" rel="stylesheet" />

<div class="data-container">
    <p>Title - @Model.Title</p>
    <p>Genre - @Model.Genre</p>
    <p>Author - @Model.AuthorName</p>
    <p>Saved times - @Model.SavedTimes</p>
    @if (Model.Year == null)
    {
        <p>Year - Unknown</p>
    }
    else
    {
        <p>Year - @Model.Year</p>
    }
    @if (Model.Pages == null)
    {
        <p>Pages - Unknown</p>
    }
    else
    {
        <p>Pages - @Model.Pages</p>
    }
    @*<p>Inspired by - me</p>*@
</div>
