@inject SignInManager<Data.Entities.User> signInManager
@{
    ViewData["Title"] = "Author";
}

<link href="~/css/AuthorsPage.css" rel="stylesheet" />

<body>
    <h1>Authors</h1>
    <section id="order-by">
        <h2>Order by</h2>
        <a asp-controller="Author" asp-action="Authors" asp-route-strategy="fullName">Name</a>
        <a asp-controller="Author" asp-action="Authors" asp-route-strategy="booksCount">Books count</a>
        <a asp-controller="Author" asp-action="Authors" asp-route-strategy="country">Country</a>
    </section>
    <div>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th>Books count</th>
                    <th>Country</th>
                    @if (this.signInManager.IsSignedIn(this.User))
                    {
                        <th colspan="2">Links</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model)
                {
                <tr>
                    <td>@i</td>
                    <td>@item.FullName</td>
                    <td>@item.BooksCount</td>
                    <td>@item.Country</td>
                    @if (this.signInManager.IsSignedIn(this.User))
                    {
                        <td><a type="button" asp-action="Details" asp-controller="Author" asp-route-id="@item.Id">Details</a></td>
                        <td><a type="button" asp-controller="Author" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                    }
                    @{ i++; }
                </tr>
                }
            </tbody>
        </table>
        <form asp-controller="Author" asp-action="Details" method-post>
            <h3>More info about an author.</h3>
            <label for="name">Names</label>
            <input type="text" name="name" id="firstName">
            <button type="submit">Details</button>
        </form>
        <div id="link-to-add-author">
            <a class="add-page" href="/Author/Create">Add a new author</a>
        </div>
    </div>
</body>