
@{
    ViewData["Title"] = "Author";
}

<link href="~/css/AuthorsPage.css" rel="stylesheet" />

<body>
    <h1>Authors</h1>
    <section id="order-by">
        <h2>Order by</h2>
        <button>Name</button>
        <button>Country</button>
        <button>Birthday</button>
        <button>Number</button>
        <button>Books</button>
    </section>
    <div>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Name</th>
                    @*<th>Country</th>*@
                    <th>Birthday</th>
                    <th colspan="2">Links</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.FirstName @item.MiddleName @item.LastName</td>
                        <td>@item.Birthday</td>
                        <td><a type="button" asp-action="Details" asp-controller="Author" asp-route-id="@item.Id">Details</a></td>
                        <td>Edit</td>
                        @{ i++; }
                    </tr>
                }
            </tbody>
        </table>
        <form asp-controller="Author" asp-action="Create" method-post>
            <h3>Add new author.</h3>
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName">
            <label for="middleName">Middle name</label>
            <input type="text" name="middleName" id="middleName">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName">
            <button type="submit">Add</button>
        </form>
        <form asp-controller="Author" asp-action="Details" method-post>
            <h3>More info about an author.</h3>
            <label for="name">Names</label>
            <input type="text" name="name" id="firstName">
            <button type="submit">Details</button>
        </form>
    </div>
</body>