@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/CreateAuthor.css" />

<h1>Add new authors from here</h1>

<form asp-controller="Author" asp-action="Create" method-post>
    @if (@ViewData["ShortNameError"] != null || (string)@ViewData["ShortNameError"] != "")
    {
        <span class="text-danger">@ViewData["ShortNameError"]</span>
    }
    @if (@ViewData["FirstNameError"] != null || (string)@ViewData["FirstNameError"] != "")
    {
        <span class="text-danger">@ViewData["FirstNameError"]</span>
    }

    <label for="firstName">First name</label>
    <input type="text" name="firstName" id="firstName">

    <label for="middleName">Middle name</label>
    <input type="text" name="middleName" id="middleName">

    @if (@ViewData["LastNameError"] != null || (string)@ViewData["LastNameError"] != "")
    {
        <span class="text-danger">@ViewData["LastNameError"]</span>
    }

    <label for="lastName">Last name</label>
    <input type="text" name="lastName" id="lastName">

    <button type="submit">Add</button>
</form>